.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 15%;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  border-radius: 30px;
  
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  outline: none;
  font-size: 1.1rem;
}
input[type="text"]:focus {
  border-color: #00d2ff;
  box-shadow: 0 0 20px rgba(0, 210, 255, 0.4);
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.botonBuscar{
  width: 15%;
}